In [2]:
import pandas as pd
import numpy as np

In [3]:
filename = "properties.csv"
df = pd.read_csv(filename)
df.head()

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0,0.0,0,0,MISSING,231.0,C,GAS,1,922.0
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0.0,0,0,MISSING,221.0,C,MISSING,1,406.0
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0,0.0,0,1,AS_NEW,NaN,MISSING,GAS,0,NaN
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0,0.0,0,1,MISSING,99.0,A,MISSING,0,NaN
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN

In [4]:
print("There are {} rows of data".format(len(df)))

There are 75511 rows of data

In [5]:
df.isnull()

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75506,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,True,False,False,False,True
75507,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
75508,False,False,False,False,False,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,True
75509,False,False,False,False,False,False,False,False,True,True,...,False,True,False,False,False,False,False,False,False,False
75510,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True

In [6]:
columns_to_drop = df.columns[df.isna().sum() > 1000]  
print(columns_to_drop)

Index(['latitude', 'longitude', 'construction_year', 'total_area_sqm',
       'surface_land_sqm', 'nbr_frontages', 'terrace_sqm', 'garden_sqm',
       'primary_energy_consumption_sqm', 'cadastral_income'],
      dtype='object')

In [11]:
columns_to_drop = df.columns[df.isna().sum() > 20000]  
print(columns_to_drop)

Index(['construction_year', 'surface_land_sqm', 'nbr_frontages',
       'primary_energy_consumption_sqm', 'cadastral_income'],
      dtype='object')

In [8]:
print(df.dtypes)

id                                  int64
price                             float64
property_type                      object
subproperty_type                   object
region                             object
province                           object
locality                           object
zip_code                            int64
latitude                          float64
longitude                         float64
construction_year                 float64
total_area_sqm                    float64
surface_land_sqm                  float64
nbr_frontages                     float64
nbr_bedrooms                      float64
equipped_kitchen                   object
fl_furnished                        int64
fl_open_fire                        int64
fl_terrace                          int64
terrace_sqm                       float64
fl_garden                           int64
garden_sqm                        float64
fl_swimming_pool                    int64
fl_floodzone                        int64
state_building                     object
primary_energy_consumption_sqm    float64
epc                                object
heating_type                       object
fl_double_glazing                   int64
cadastral_income                  float64
dtype: object

In [10]:
for col in df.columns:
    if len(df[col].unique()) < 100:
        print(f"Column '{col}' has {len(df[col].unique())} unique values.")

print(df.columns[df.nunique() < 100])

df.columns[df.nunique() < 100].map(lambda col: print(f"Column '{col}' has {df[col].nunique()} unique values."))

Column 'property_type' has 2 unique values.
Column 'subproperty_type' has 23 unique values.
Column 'region' has 4 unique values.
Column 'province' has 12 unique values.
Column 'locality' has 44 unique values.
Column 'nbr_frontages' has 16 unique values.
Column 'nbr_bedrooms' has 47 unique values.
Column 'equipped_kitchen' has 9 unique values.
Column 'fl_furnished' has 2 unique values.
Column 'fl_open_fire' has 2 unique values.
Column 'fl_terrace' has 2 unique values.
Column 'fl_garden' has 2 unique values.
Column 'fl_swimming_pool' has 2 unique values.
Column 'fl_floodzone' has 2 unique values.
Column 'state_building' has 7 unique values.
Column 'epc' has 10 unique values.
Column 'heating_type' has 8 unique values.
Column 'fl_double_glazing' has 2 unique values.
Index(['property_type', 'subproperty_type', 'region', 'province', 'locality',
       'nbr_frontages', 'nbr_bedrooms', 'equipped_kitchen', 'fl_furnished',
       'fl_open_fire', 'fl_terrace', 'fl_garden', 'fl_swimming_pool',
       'fl_floodzone', 'state_building', 'epc', 'heating_type',
       'fl_double_glazing'],
      dtype='object')
Column 'property_type' has 2 unique values.
Column 'subproperty_type' has 23 unique values.
Column 'region' has 4 unique values.
Column 'province' has 12 unique values.
Column 'locality' has 44 unique values.
Column 'nbr_frontages' has 15 unique values.
Column 'nbr_bedrooms' has 47 unique values.
Column 'equipped_kitchen' has 9 unique values.
Column 'fl_furnished' has 2 unique values.
Column 'fl_open_fire' has 2 unique values.
Column 'fl_terrace' has 2 unique values.
Column 'fl_garden' has 2 unique values.
Column 'fl_swimming_pool' has 2 unique values.
Column 'fl_floodzone' has 2 unique values.
Column 'state_building' has 7 unique values.
Column 'epc' has 10 unique values.
Column 'heating_type' has 8 unique values.
Column 'fl_double_glazing' has 2 unique values.

Index([None, None, None, None, None, None, None, None, None, None, None, None,
       None, None, None, None, None, None],
      dtype='object')

In [12]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,75511.0,NaN,NaN,NaN,39732354.597343,22904173.007541,0.0,19893500.0,39722000.0,59541000.0,79485000.0
price,75511.0,NaN,NaN,NaN,422770.850737,438358.563834,76000.0,242000.0,329000.0,455000.0,22500000.0
property_type,75511,2,HOUSE,39255,NaN,NaN,NaN,NaN,NaN,NaN,NaN
subproperty_type,75511,23,HOUSE,29730,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region,75511,4,Flanders,43424,NaN,NaN,NaN,NaN,NaN,NaN,NaN
province,75511,12,West Flanders,11798,NaN,NaN,NaN,NaN,NaN,NaN,NaN
locality,75511,44,Brussels,7958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip_code,75511.0,NaN,NaN,NaN,5144.609342,3005.49011,1000.0,2240.0,4683.0,8370.0,9992.0
latitude,61413.0,NaN,NaN,NaN,50.886625,0.349727,25.76168,50.705856,50.900919,51.148644,52.434244
longitude,61413.0,NaN,NaN,NaN,4.32866,0.950902,-80.19179,3.764067,4.376713,4.876499,6.385048
construction_year,42120.0,NaN,NaN,NaN,1984.406054,41.52885,1753.0,1962.0,1994.0,2022.0,2024.0
total_area_sqm,67896.0,NaN,NaN,NaN,163.670746,415.851108,3.0,91.0,127.0,185.0,88140.0
surface_land_sqm,39255.0,NaN,NaN,NaN,1157.087505,10117.338517,0.0,150.0,362.0,805.0,950774.0
nbr_frontages,49165.0,NaN,NaN,NaN,2.802929,0.889163,1.0,2.0,3.0,4.0,47.0
nbr_bedrooms,75511.0,NaN,NaN,NaN,2.787276,1.894188,0.0,2.0,3.0,3.0,200.0
equipped_kitchen,75511,9,MISSING,33022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fl_furnished,75511.0,NaN,NaN,NaN,0.018792,0.135791,0.0,0.0,0.0,0.0,1.0
fl_open_fire,75511.0,NaN,NaN,NaN,0.169909,0.375555,0.0,0.0,0.0,0.0,1.0
fl_terrace,75511.0,NaN,NaN,NaN,0.590828,0.491684,0.0,0.0,1.0,1.0,1.0
terrace_sqm,62371.0,NaN,NaN,NaN,11.577384,38.721366,0.0,0.0,1.0,15.0,3466.0
fl_garden,75511.0,NaN,NaN,NaN,0.218286,0.413085,0.0,0.0,0.0,0.0,1.0
garden_sqm,72572.0,NaN,NaN,NaN,115.640288,1388.760283,0.0,0.0,0.0,0.0,150000.0
fl_swimming_pool,75511.0,NaN,NaN,NaN,0.018686,0.135415,0.0,0.0,0.0,0.0,1.0
fl_floodzone,75511.0,NaN,NaN,NaN,0.543828,0.498079,0.0,0.0,1.0,1.0,1.0
state_building,75511,7,MISSING,26643,NaN,NaN,NaN,NaN,NaN,NaN,NaN
primary_energy_consumption_sqm,48944.0,NaN,NaN,NaN,1688.748002,158930.921512,-140.0,128.0,242.0,392.0,20231122.0
epc,75511,10,MISSING,24003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
heating_type,75511,8,GAS,31875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fl_double_glazing,75511.0,NaN,NaN,NaN,0.676762,0.467716,0.0,0.0,1.0,1.0,1.0
cadastral_income,30544.0,NaN,NaN,NaN,1885.941298,100497.10421,1.0,545.0,850.0,1249.0,17001700.0

In [13]:
df.duplicated().any()

False

In [14]:
print(df['region'].unique())

['Flanders' 'Brussels-Capital' 'Wallonia' 'MISSING']

In [15]:
df[df['region'] == 'MISSING'].shape[0]

3

In [16]:
missing_df = df[df['region'] == 'MISSING']
print(missing_df)

             id      price property_type subproperty_type   region province  \
10384  26276000  1680000.0         HOUSE      MANOR_HOUSE  MISSING  MISSING
52165  16170000   216500.0     APARTMENT      FLAT_STUDIO  MISSING  MISSING
63130  47220000   509500.0     APARTMENT        PENTHOUSE  MISSING  MISSING

      locality  zip_code  latitude  longitude  ...  fl_garden  garden_sqm  \
10384  MISSING      4525       NaN        NaN  ...          0         0.0
52165  MISSING      8539       NaN        NaN  ...          0         0.0
63130  MISSING      8535       NaN        NaN  ...          0         0.0

       fl_swimming_pool  fl_floodzone  state_building  \
10384                 0             0            GOOD
52165                 0             1         MISSING
63130                 0             1         MISSING

      primary_energy_consumption_sqm      epc  heating_type  \
10384                            NaN  MISSING       MISSING
52165                            NaN  MISSING       MISSING
63130                            NaN  MISSING       MISSING

       fl_double_glazing  cadastral_income
10384                  0               NaN
52165                  0               NaN
63130                  0               NaN

[3 rows x 30 columns]

In [17]:
df = df[df['region'] != 'MISSING']

In [18]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,75508.0,NaN,NaN,NaN,39732745.69582,22904398.939563,0.0,19894250.0,39722000.0,59541250.0,79485000.0
price,75508.0,NaN,NaN,NaN,422755.783626,438342.638098,76000.0,242000.0,329000.0,455000.0,22500000.0
property_type,75508,2,HOUSE,39254,NaN,NaN,NaN,NaN,NaN,NaN,NaN
subproperty_type,75508,23,HOUSE,29730,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region,75508,3,Flanders,43424,NaN,NaN,NaN,NaN,NaN,NaN,NaN
province,75508,11,West Flanders,11798,NaN,NaN,NaN,NaN,NaN,NaN,NaN
locality,75508,43,Brussels,7958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip_code,75508.0,NaN,NaN,NaN,5144.527692,3005.498257,1000.0,2240.0,4683.0,8370.0,9992.0
latitude,61413.0,NaN,NaN,NaN,50.886625,0.349727,25.76168,50.705856,50.900919,51.148644,52.434244
longitude,61413.0,NaN,NaN,NaN,4.32866,0.950902,-80.19179,3.764067,4.376713,4.876499,6.385048
construction_year,42120.0,NaN,NaN,NaN,1984.406054,41.52885,1753.0,1962.0,1994.0,2022.0,2024.0
total_area_sqm,67893.0,NaN,NaN,NaN,163.673854,415.85998,3.0,91.0,127.0,185.0,88140.0
surface_land_sqm,39254.0,NaN,NaN,NaN,1157.095073,10117.467278,0.0,150.0,362.0,805.0,950774.0
nbr_frontages,49164.0,NaN,NaN,NaN,2.802905,0.889156,1.0,2.0,3.0,4.0,47.0
nbr_bedrooms,75508.0,NaN,NaN,NaN,2.787307,1.894212,0.0,2.0,3.0,3.0,200.0
equipped_kitchen,75508,9,MISSING,33019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fl_furnished,75508.0,NaN,NaN,NaN,0.018793,0.135793,0.0,0.0,0.0,0.0,1.0
fl_open_fire,75508.0,NaN,NaN,NaN,0.169916,0.375561,0.0,0.0,0.0,0.0,1.0
fl_terrace,75508.0,NaN,NaN,NaN,0.590825,0.491685,0.0,0.0,1.0,1.0,1.0
terrace_sqm,62368.0,NaN,NaN,NaN,11.57762,38.722262,0.0,0.0,1.0,15.0,3466.0
fl_garden,75508.0,NaN,NaN,NaN,0.218295,0.413091,0.0,0.0,0.0,0.0,1.0
garden_sqm,72569.0,NaN,NaN,NaN,115.645069,1388.78879,0.0,0.0,0.0,0.0,150000.0
fl_swimming_pool,75508.0,NaN,NaN,NaN,0.018687,0.135417,0.0,0.0,0.0,0.0,1.0
fl_floodzone,75508.0,NaN,NaN,NaN,0.543823,0.498079,0.0,0.0,1.0,1.0,1.0
state_building,75508,7,MISSING,26641,NaN,NaN,NaN,NaN,NaN,NaN,NaN
primary_energy_consumption_sqm,48944.0,NaN,NaN,NaN,1688.748002,158930.921512,-140.0,128.0,242.0,392.0,20231122.0
epc,75508,10,MISSING,24000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
heating_type,75508,8,GAS,31875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fl_double_glazing,75508.0,NaN,NaN,NaN,0.676789,0.467706,0.0,0.0,1.0,1.0,1.0
cadastral_income,30544.0,NaN,NaN,NaN,1885.941298,100497.10421,1.0,545.0,850.0,1249.0,17001700.0

In [21]:
df_numbers = df.select_dtypes(include=['float64', 'int64'])
corr_matrix = df_numbers.corr().round(2)
print(corr_matrix.to_string())

                                  id  price  zip_code  latitude  longitude  construction_year  total_area_sqm  surface_land_sqm  nbr_frontages  nbr_bedrooms  fl_furnished  fl_open_fire  fl_terrace  terrace_sqm  fl_garden  garden_sqm  fl_swimming_pool  fl_floodzone  primary_energy_consumption_sqm  fl_double_glazing  cadastral_income
id                              1.00   0.00     -0.00     -0.01      -0.00              -0.00            0.00             -0.00           0.00          0.01         -0.00          0.00        0.01         0.01       0.01       -0.01             -0.00         -0.01                           -0.00               0.00              0.00
price                           0.00   1.00     -0.04      0.17      -0.09              -0.03            0.20              0.15           0.15          0.35          0.03         -0.01        0.03         0.11       0.03        0.09              0.20         -0.06                           -0.00               0.00              0.00
zip_code                       -0.00  -0.04      1.00      0.01      -0.49               0.14           -0.01             -0.00           0.05          0.00         -0.00         -0.10       -0.13        -0.05      -0.08       -0.01             -0.02         -0.07                            0.00              -0.04              0.00
latitude                       -0.01   0.17      0.01      1.00      -0.14               0.06           -0.05             -0.02          -0.10         -0.08          0.01         -0.03       -0.02        -0.03      -0.09       -0.04             -0.02         -0.25                            0.01              -0.02             -0.01
longitude                      -0.00  -0.09     -0.49     -0.14       1.00              -0.08            0.06              0.01           0.08          0.07         -0.03          0.10        0.08         0.05       0.13        0.03              0.02          0.15                           -0.01               0.07              0.00
construction_year              -0.00  -0.03      0.14      0.06      -0.08               1.00           -0.21             -0.05           0.06         -0.19         -0.01         -0.05        0.16         0.02      -0.13       -0.07             -0.00          0.01                           -0.00               0.03             -0.00
total_area_sqm                  0.00   0.20     -0.01     -0.05       0.06              -0.21            1.00              0.08           0.07          0.22         -0.01          0.02       -0.02         0.05       0.04        0.04              0.06          0.00                            0.00              -0.00              0.00
surface_land_sqm               -0.00   0.15     -0.00     -0.02       0.01              -0.05            0.08              1.00           0.09          0.07          0.01          0.03       -0.00         0.02      -0.00        0.19              0.05          0.01                           -0.00              -0.00              0.00
nbr_frontages                   0.00   0.15      0.05     -0.10       0.08               0.06            0.07              0.09           1.00          0.14         -0.05          0.07       -0.00         0.07       0.09        0.10              0.16          0.02                            0.01              -0.02              0.01
nbr_bedrooms                    0.01   0.35      0.00     -0.08       0.07              -0.19            0.22              0.07           0.14          1.00         -0.01          0.05       -0.03         0.05       0.14        0.08              0.09         -0.01                            0.00               0.02              0.00
fl_furnished                   -0.00   0.03     -0.00      0.01      -0.03              -0.01           -0.01              0.01          -0.05         -0.01          1.00         -0.01        0.00         0.01      -0.01        0.01              0.02         -0.03                           -0.00               0.02              0.00
fl_open_fire                    0.00  -0.01     -0.10     -0.03       0.10              -0.05            0.02              0.03           0.07          0.05         -0.01          1.00        0.03         0.03       0.17        0.03              0.03          0.02                           -0.00               0.14              0.01
fl_terrace                      0.01   0.03     -0.13     -0.02       0.08               0.16           -0.02             -0.00          -0.00         -0.03          0.00          0.03        1.00         0.30       0.11        0.03              0.07         -0.02                           -0.00               0.11             -0.00
terrace_sqm                     0.01   0.11     -0.05     -0.03       0.05               0.02            0.05              0.02           0.07          0.05          0.01          0.03        0.30         1.00       0.11        0.09              0.08         -0.02                           -0.00               0.05             -0.00
fl_garden                       0.01   0.03     -0.08     -0.09       0.13              -0.13            0.04             -0.00           0.09          0.14         -0.01          0.17        0.11         0.11       1.00        0.17              0.07         -0.06                           -0.00               0.10              0.01
garden_sqm                     -0.01   0.09     -0.01     -0.04       0.03              -0.07            0.04              0.19           0.10          0.08          0.01          0.03        0.03         0.09       0.17        1.00              0.07         -0.01                           -0.00               0.01              0.00
fl_swimming_pool               -0.00   0.20     -0.02     -0.02       0.02              -0.00            0.06              0.05           0.16          0.09          0.02          0.03        0.07         0.08       0.07        0.07              1.00         -0.01                           -0.00               0.05              0.00
fl_floodzone                   -0.01  -0.06     -0.07     -0.25       0.15               0.01            0.00              0.01           0.02         -0.01         -0.03          0.02       -0.02        -0.02      -0.06       -0.01             -0.01          1.00                           -0.00              -0.18              0.01
primary_energy_consumption_sqm -0.00  -0.00      0.00      0.01      -0.01              -0.00            0.00             -0.00           0.01          0.00         -0.00         -0.00       -0.00        -0.00      -0.00       -0.00             -0.00         -0.00                            1.00              -0.00             -0.00
fl_double_glazing               0.00   0.00     -0.04     -0.02       0.07               0.03           -0.00             -0.00          -0.02          0.02          0.02          0.14        0.11         0.05       0.10        0.01              0.05         -0.18                           -0.00               1.00             -0.01
cadastral_income                0.00   0.00      0.00     -0.01       0.00              -0.00            0.00              0.00           0.01          0.00          0.00          0.01       -0.00        -0.00       0.01        0.00              0.00          0.01                           -0.00              -0.01              1.00

In [24]:
nan_counts = df.isna().sum()

print(nan_counts)

id                                    0
price                                 0
property_type                         0
subproperty_type                      0
region                                0
province                              0
locality                              0
zip_code                              0
latitude                          14095
longitude                         14095
construction_year                 33388
total_area_sqm                     7615
surface_land_sqm                  36254
nbr_frontages                     26344
nbr_bedrooms                          0
equipped_kitchen                      0
fl_furnished                          0
fl_open_fire                          0
fl_terrace                            0
terrace_sqm                       13140
fl_garden                             0
garden_sqm                         2939
fl_swimming_pool                      0
fl_floodzone                          0
state_building                        0
primary_energy_consumption_sqm    26564
epc                                   0
heating_type                          0
fl_double_glazing                     0
cadastral_income                  44964
dtype: int64

In [25]:
nan_count_primary_energy_consumption_sqm = df['primary_energy_consumption_sqm'].isna().sum()
nan_count_epc = df['epc'].isna().sum()

print(f"primary_energy_consumption_sqm: {nan_count_primary_energy_consumption_sqm}")
print(f"epc: {nan_count_epc}")

primary_energy_consumption_sqm: 26564
epc: 0

In [26]:
df['surface_land_sqm'].fillna(0, inplace=True)
df['terrace_sqm'].fillna(0, inplace=True)
df['garden_sqm'].fillna(0, inplace=True)
df.to_csv('dataset1.csv', index=False)

C:\Users\38050\AppData\Local\Temp\ipykernel_12788\2509604641.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['surface_land_sqm'].fillna(0, inplace=True)
C:\Users\38050\AppData\Local\Temp\ipykernel_12788\2509604641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['surface_land_sqm'].fillna(0, inplace=True)
C:\Users\38050\AppData\Local\Temp\ipykernel_12788\2509604641.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['terrace_sqm'].fillna(0, inplace=True)
C:\Users\38050\AppData\Local\Temp\ipykernel_12788\2509604641.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['terrace_sqm'].fillna(0, inplace=True)
C:\Users\38050\AppData\Local\Temp\ipykernel_12788\2509604641.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['garden_sqm'].fillna(0, inplace=True)
C:\Users\38050\AppData\Local\Temp\ipykernel_12788\2509604641.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['garden_sqm'].fillna(0, inplace=True)

In [27]:
filename = "dataset1.csv"
df = pd.read_csv(filename)
nan_counts = df.isna().sum()

print(nan_counts)

id                                    0
price                                 0
property_type                         0
subproperty_type                      0
region                                0
province                              0
locality                              0
zip_code                              0
latitude                          14095
longitude                         14095
construction_year                 33388
total_area_sqm                     7615
surface_land_sqm                      0
nbr_frontages                     26344
nbr_bedrooms                          0
equipped_kitchen                      0
fl_furnished                          0
fl_open_fire                          0
fl_terrace                            0
terrace_sqm                           0
fl_garden                             0
garden_sqm                            0
fl_swimming_pool                      0
fl_floodzone                          0
state_building                        0
primary_energy_consumption_sqm    26564
epc                                   0
heating_type                          0
fl_double_glazing                     0
cadastral_income                  44964
dtype: int64

In [30]:
df['latitude'] = df['latitude'].interpolate('linear')
df['longitude'] = df['longitude'].interpolate('linear')

df['construction_year'] = df['construction_year'].fillna(df['construction_year'].median())

df['total_area_sqm'] = df['total_area_sqm'].fillna(df['total_area_sqm'].mean())
df['primary_energy_consumption_sqm'] = df['primary_energy_consumption_sqm'].fillna(df['primary_energy_consumption_sqm'].mean())
df['cadastral_income'] = df['cadastral_income'].fillna(df['cadastral_income'].mean())

df['nbr_frontages'] = df['nbr_frontages'].fillna(df['nbr_frontages'].mode())

In [32]:
df['nbr_frontages'] = df['nbr_frontages'].fillna(df['nbr_frontages'].median())
nan_counts = df.isna().sum()

print(nan_counts)

id                                0
price                             0
property_type                     0
subproperty_type                  0
region                            0
province                          0
locality                          0
zip_code                          0
latitude                          0
longitude                         0
construction_year                 0
total_area_sqm                    0
surface_land_sqm                  0
nbr_frontages                     0
nbr_bedrooms                      0
equipped_kitchen                  0
fl_furnished                      0
fl_open_fire                      0
fl_terrace                        0
terrace_sqm                       0
fl_garden                         0
garden_sqm                        0
fl_swimming_pool                  0
fl_floodzone                      0
state_building                    0
primary_energy_consumption_sqm    0
epc                               0
heating_type                      0
fl_double_glazing                 0
cadastral_income                  0
dtype: int64

In [33]:
df.to_csv('dataset2.csv', index=False)

In [38]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')
df['construction_year'] = imputer.fit_transform(df[['construction_year']])

imputer = SimpleImputer(strategy='mean')
df['total_area_sqm'] = imputer.fit_transform(df[['total_area_sqm']])

In [39]:
filename = "dataset2.csv"
df = pd.read_csv(filename)

categorical_features = ['fl_furnished', 'fl_open_fire', 'fl_terrace', 'fl_garden', 'fl_swimming_pool', 'fl_floodzone', 'fl_double_glazing']

df = pd.get_dummies(df, columns=categorical_features, drop_first=True)

df.head()

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,epc,heating_type,cadastral_income,fl_furnished_1,fl_open_fire_1,fl_terrace_1,fl_garden_1,fl_swimming_pool_1,fl_floodzone_1,fl_double_glazing_1
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,C,GAS,922.000000,False,False,True,False,False,False,True
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,C,MISSING,406.000000,False,False,False,False,False,False,True
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,MISSING,GAS,1885.941298,False,False,True,False,False,True,False
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,A,MISSING,1885.941298,False,False,False,False,False,True,False
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,51.053411,4.668632,...,A+,GAS,1885.941298,False,False,True,True,False,False,False

In [40]:
df.to_csv('dataset3.csv', index=False)

In [45]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_numeric = df.select_dtypes(include=['number'])
df_numeric = scaler.fit_transform(df_numeric)

df.head()

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,epc,heating_type,cadastral_income,fl_furnished_1,fl_open_fire_1,fl_terrace_1,fl_garden_1,fl_swimming_pool_1,fl_floodzone_1,fl_double_glazing_1
0,34221000,-0.451147,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,C,GAS,-1.508126e-02,-0.138393,-0.452435,0.832195,-0.528445,-0.137995,-1.091848,0.691061
1,2104000,0.059872,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,C,MISSING,-2.315430e-02,-0.138393,-0.452435,-1.201641,-0.528445,-0.137995,-1.091848,0.691061
2,34036000,-0.200200,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,MISSING,GAS,7.114711e-18,-0.138393,-0.452435,0.832195,-0.528445,-0.137995,0.915878,-1.447051
3,58496000,0.178501,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,A,MISSING,7.114711e-18,-0.138393,-0.452435,-1.201641,-0.528445,-0.137995,0.915878,-1.447051
4,48727000,1.277421,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,51.053411,4.668632,...,A+,GAS,7.114711e-18,-0.138393,-0.452435,0.832195,1.892343,-0.137995,-1.091848,-1.447051

In [51]:
filename = "dataset3.csv"
df = pd.read_csv(filename)

df.head()

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,epc,heating_type,cadastral_income,fl_furnished_1,fl_open_fire_1,fl_terrace_1,fl_garden_1,fl_swimming_pool_1,fl_floodzone_1,fl_double_glazing_1
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,C,GAS,922.000000,False,False,True,False,False,False,True
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,C,MISSING,406.000000,False,False,False,False,False,False,True
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,MISSING,GAS,1885.941298,False,False,True,False,False,True,False
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,A,MISSING,1885.941298,False,False,False,False,False,True,False
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,51.053411,4.668632,...,A+,GAS,1885.941298,False,False,True,True,False,False,False

In [52]:
from sklearn.preprocessing import StandardScaler

numerical_features = df[['price', 'cadastral_income', 'latitude', 'longitude',
                         "fl_furnished_1", "fl_open_fire_1",	"fl_terrace_1",	
                         "fl_garden_1",	"fl_swimming_pool_1",	"fl_floodzone_1",
                        "fl_double_glazing_1"]]

scaler = StandardScaler()
numerical_features_scaled = scaler.fit_transform(numerical_features)

df.update(pd.DataFrame(numerical_features_scaled, columns=numerical_features.columns))

df.head()

C:\Users\38050\AppData\Local\Temp\ipykernel_12788\4242128024.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.1383930660939713 -0.1383930660939713 -0.1383930660939713 ...
 -0.1383930660939713 -0.1383930660939713 -0.1383930660939713]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.update(pd.DataFrame(numerical_features_scaled, columns=numerical_features.columns))
C:\Users\38050\AppData\Local\Temp\ipykernel_12788\4242128024.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.4524345509339898 -0.4524345509339898 -0.4524345509339898 ...
 -0.4524345509339898 -0.4524345509339898 2.2102644414217156]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.update(pd.DataFrame(numerical_features_scaled, columns=numerical_features.columns))
C:\Users\38050\AppData\Local\Temp\ipykernel_12788\4242128024.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.8321953436128805 -1.2016409460531403 0.8321953436128805 ...
 0.8321953436128805 0.8321953436128805 0.8321953436128805]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.update(pd.DataFrame(numerical_features_scaled, columns=numerical_features.columns))
C:\Users\38050\AppData\Local\Temp\ipykernel_12788\4242128024.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.528445411708194 -0.528445411708194 -0.528445411708194 ...
 -0.528445411708194 1.8923430459307256 -0.528445411708194]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.update(pd.DataFrame(numerical_features_scaled, columns=numerical_features.columns))
C:\Users\38050\AppData\Local\Temp\ipykernel_12788\4242128024.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.13799495031828524 -0.13799495031828524 -0.13799495031828524 ...
 -0.13799495031828524 -0.13799495031828524 -0.13799495031828524]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.update(pd.DataFrame(numerical_features_scaled, columns=numerical_features.columns))
C:\Users\38050\AppData\Local\Temp\ipykernel_12788\4242128024.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.0918481510546842 -1.0918481510546842 0.9158782739468281 ...
 0.9158782739468281 0.9158782739468281 -1.0918481510546842]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.update(pd.DataFrame(numerical_features_scaled, columns=numerical_features.columns))
C:\Users\38050\AppData\Local\Temp\ipykernel_12788\4242128024.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.6910607194095797 0.6910607194095797 -1.4470508479404938 ...
 -1.4470508479404938 0.6910607194095797 0.6910607194095797]' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.update(pd.DataFrame(numerical_features_scaled, columns=numerical_features.columns))

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,epc,heating_type,cadastral_income,fl_furnished_1,fl_open_fire_1,fl_terrace_1,fl_garden_1,fl_swimming_pool_1,fl_floodzone_1,fl_double_glazing_1
0,34221000,-0.451147,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,0.977371,0.056268,...,C,GAS,-1.508126e-02,-0.138393,-0.452435,0.832195,-0.528445,-0.137995,-1.091848,0.691061
1,2104000,0.059872,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,0.852268,-0.522723,...,C,MISSING,-2.315430e-02,-0.138393,-0.452435,-1.201641,-0.528445,-0.137995,-1.091848,0.691061
2,34036000,-0.200200,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,-0.133962,0.007068,...,MISSING,GAS,7.114711e-18,-0.138393,-0.452435,0.832195,-0.528445,-0.137995,0.915878,-1.447051
3,58496000,0.178501,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,1.039999,0.529664,...,A,MISSING,7.114711e-18,-0.138393,-0.452435,-1.201641,-0.528445,-0.137995,0.915878,-1.447051
4,48727000,1.277421,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,0.492222,0.368809,...,A+,GAS,7.114711e-18,-0.138393,-0.452435,0.832195,1.892343,-0.137995,-1.091848,-1.447051

In [ ]:
df.to_csv('dataset4.csv', index=False)